.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
* {
    background-color: black;
}

.dl_link {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}
.mockup {
    text-align: center;
} 

.sec2 {
    color: white;
}

.sec2 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 42px;
    font-weight: 300;
}

.sec2 p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.campsite {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comingsoon h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    text-align: center;
    font-weight: 300;
}

.copyright p {
    color: gray;
    text-align: right;

}